@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(11, 11, 11, 0.7), rgba(0, 0, 0, 0.8)),
		url(./images/back6.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.navbar {
	transition: 0.5s;
}
.navbar-scrolled {
	background-color: black;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.nav-link {
	transition: all 0.2s;
}
.nav-link:hover {
	transform: scale(1.05);
	background-color: rgba(165, 42, 42, 0.273);
	border-radius: 10%;
}
.contact-form {
	padding: 30px 40px;
	background-color: #ffffff;
	border-radius: 12px;
	max-width: 400px;
}
.navbar-nav a,
#headerText {
	color: brown !important;
}
#headerText {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	transition: all 0.2s;
}
#headerText:hover {
	transform: scale(1.05);
}

.categories {
	background-color: rgba(165, 42, 42, 0.404);
}
.card {
	transition: all 0.4s;
	background-color: rgba(165, 42, 42, 0);
	border-radius: 5%;
}
.card:hover {
	transform: scale(1.07);
}

#logo {
	padding-top: 10vh;
}
#about {
	/* padding-top: 1vh;
	margin: 2em; */
	font-family: "Roboto", sans-serif;
	color: rgba(0, 0, 0, 0.712);
}
#categoryCards {
	width: 18rem;
	border-radius: 5%;
	align-items: center;
	font-weight: 700;
}
#categories {
	color: rgba(0, 0, 0, 0.712);
}

.contactHeader {
	border-bottom: 2px dotted black;
}
.contactContainer {
	background-color: rgba(165, 42, 42, 0.237);
}
.btn-info {
	width: 50%;
	letter-spacing: 2px;
	background: transparent;
	transition: all 0.7s ease-in-out;
}
.icn {
	font-size: 18px;
}
hr {
	width: 80%;
}
ul li a {
	color: white;
	float: left;
	font-size: 30px;
	margin: 0 10px 0 50px;
	transition: all 0.2s ease-in-out;
}
